=
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
.DS_Store
npm-debug.log

lib/
node_modules
web
build
